.header-section {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;
}

.header-icon-list {
    display: flex;
}

.header-icon-block__item:not(:last-of-type) {
  margin-right: 8px;  
}

.header-icon-block__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header-icon-block__item_basket {
    position: relative;
}

#icon-basket-count {
    position: absolute;
    top: -5px;
    left: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    font-size: 8px;
    font-weight: 900;
    color: #ffffff;
    background-color:#E66A1B;
}

#user-avatar {
    width: 500px;
    height: 30px;
    padding-left: 40px;
    background-image: url(user-avatar.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left;
}

#user-avatar__title {
    font-size: 12px;
}

#user-avatar__company {
    font-size: 10px;
    color: #6F7172;
}
